# Node modules (very important)
node_modules
npm-debug.log

# Build output
dist
build

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log

# OS / Editor
.DS_Store
.vscode
.idea

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml